<li>
	{{Burger_name}}
		{{#if isdevour}}
		

	<button class="change-devour" data-id="{{id}}" data-newDevour="{{devour}}">
	Devour TIME!
	</button>
		{{else}}
		
<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
		
		{{/if}}
		
	
	

	
</li>
